@model Marmoset

<html>
<head>
    <title>Marmoset #@Model.Id</title>
</head>
<body>
<ul>
    <li><b>@Html.DisplayNameFor(m => m.Name)</b> : @Model.Name</li>
    <li><b>@Html.DisplayNameFor(m => m.Age)</b> : @Model.Age</li>
    <li><b>@Html.DisplayNameFor(m => m.Race)</b> : @Model.Race</li>
</ul>
</body>
</html>