@model HashSet<Marmoset>

@{
    ViewBag.Title = "Ouistitigz";
    //Layout = "_Layout";
}

<h2>Liste des Ouistitis</h2>

<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>@Html.DisplayNameForInnerType((Marmoset m) => m.Name)</th>
        <th>@Html.DisplayNameForInnerType((Marmoset m) => m.Age)</th>
        <th>@Html.DisplayNameForInnerType((Marmoset m) => m.Race)</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var m in Model)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Name</td>
            <td>@m.Age</td>
            <td>@m.Race</td>
            <td><a asp-action="Details" asp-route-id="@m.Id" class="btn btn-secondary"><span></span></a></td>
        </tr>
    }
    </tbody>
</table>
</body>