@{
    ViewData["Title"] = "Détails pour une catégorie";
    Produit p = Model;
}

@model Produit

@if (Model == null) // si le model est égal à null, ça veut dire que l'on a pas trouvé de contact avec cet id
{
    <p class="text-danger">
        Aucun produit avec cet id.
    </p>
}
else
{
    <div class="card m-3 p-2" style="width: 300px;">
        <div class="card-title text-center"><h5>@p.Name</h5> </div>
        <hr />
        <div class="card-body">
            <img alt="Image" class="img-thumbnail" src="@p.ProduitPath">
            <p class="text-align">Id Catégorie : @p.CategorieId</p>
            <p class="text-align">@Html.DisplayNameFor(m => m.Description)  : @p.Description</p>
            <p class="text-align">@Html.DisplayNameFor(m => m.Price)   : @p.Price</p>
            <p class="text-align">@Html.DisplayNameFor(m => m.StorageQuantity)  : @p.StorageQuantity</p>
            <a asp-action="AddToCart" asp-controller="Produits" asp-route-id="@p.Id" class="btn btn-info">Ajouter au panier</a>

            @*le html helper DisplayNameFor va aller chercher la valeur de la data annotation Display pour le model*@
        </div>
    </div>
}


<a asp-action="Index" asp-controller="Produits">Retour à la Liste des catégories</a>